
<section>
    <div class="img">
        <img src="https://image.tmdb.org/t/p/original{{movieDataX.backdrop_path}}" alt="fondo">
    </div>
    <div class="content">
        <div class="info">
            <h1 id="title">{{movieDataX.original_title}}</h1>
            <p>{{movieDataX.overview}}</p>

            <h5>Original language: {{movieDataX.original_language}}</h5>
            <h5>Release Date: {{movieDataX.release_date}}</h5>
            <h5>Vote: {{movieDataX.vote_average}}</h5>
        </div>
    </div>
    <div class="button-group">
        <a><i class="fa-solid fa-play"></i></a>
        <a><i class="fa-solid fa-plus"></i></a>
    </div>

</section>
