.search {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: auto;

    input {
        padding: 1rem 2rem;
        outline: none;
        width: 30rem;
    }

    a {
        padding: 1.5rem 2rem;
        text-align: center;
        border: 1px solid white;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: rgb(75, 74, 74);
        }
    }
}

section {

    margin-top:5rem;
    
    .box-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .box {
            height: auto;
            width: 25rem;
            margin-bottom: 2rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}